.buttons {
    margin-right: 10px;
}
.body{
    flex: content;
    text-align: center;
    align-items: center;
    align-content: space-between;
}
.btn-actions{
    display: flex;
    justify-content: center;
}